.computerLight {
  width: 100%;
  height: 100%;
  background-color: transparent;
  padding-block: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.computer {
  width: 90rem;
  padding-block: 3rem;
  height: auto;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  *overflow: hidden;
}

.computer-monitor {
  background-color: transparent;
  width: 70rem;
  height: 40rem;
  border-radius: 1.8rem;
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
  -webkit-box-shadow: 0px 0px 0px 1rem hsl(0, 0%, 0%),
    0 0 0 0.4em hsl(284, 30%, 85%);
  -moz-box-shadow: 0px 0px 0px 1rem hsl(0, 0%, 0%),
    0 0 0 0.4em hsl(284, 30%, 85%);
  box-shadow: 0 0 0 1rem hsl(0, 0%, 0%);
  transform: scale3d(1.1, 1.1, 1);
}

.computer-monitor-notch {
  position: absolute;
  background-color: transparent;

  height: 3rem;
  width: 100%;
  top: 0%;
  display: flex;
  justify-content: center;
}

.notch-container {
  background-color: hsl(0, 0%, 0%);
  height: 1.5rem;
  width: 8rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 5px;
}

.notch-container-camera {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 1rem;
  background-image: linear-gradient(
    to right top,
    #051937,
    #001a48,
    #001957,
    #141565,
    #2b0970
  );
}

.computer-monitor-screen {
  position: relative;
  top: 0%;
  background-image: linear-gradient(
    180deg,
    #ffff7c 0,
    #ffff6f 12.5%,
    #fff565 25%,
    #ffda5c 37.5%,
    #f2bd53 50%,
    #dda14c 62.5%,
    #c98a46 75%,
    #b77642 87.5%,
    #a8663f 100%
  );
  background-image: radial-gradient(
    circle at 100% 0%,
    #ffff7c 0,
    #ffff7a 6.25%,
    #fdff79 12.5%,
    #e6ff7a 18.75%,
    #cdff7c 25%,
    #b1ff81 31.25%,
    #90ff88 37.5%,
    #66ff90 43.75%,
    #00ff99 50%,
    #00faa4 56.25%,
    #00f6b2 62.5%,
    #00f2c2 68.75%,
    #00eed3 75%,
    #00eae5 81.25%,
    #00e6f7 87.5%,
    #00e3ff 93.75%,
    #00e0ff 100%
  );
  width: 70rem;
  height: 40rem;
  border-radius: 1.8rem;
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
  overflow: hidden;
}

.computer-monitor-screen-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.monitor-bottom {
  height: 2rem;
  width: 79.2rem;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  background-color: hsl(0, 0%, 0%);
  background-image: linear-gradient(
    to bottom,
    #232220,
    #1f1e1c,
    #1b1b19,
    #171715,
    #121311
  );
}

.keyboard {
  position: relative;
  top: 2.9rem;
  height: auto;
  width: 85rem;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.keyboard-ontainer {
  width: 98%;
  height: 1.8rem;
  background-image: linear-gradient(
    to bottom,
    #4e5864,
    #434953,
    #373b43,
    #2b2e33,
    #202124
  );
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  display: flex;
  justify-content: center;
}

.legs {
  position: relative;
  background-color: transparent;
  width: 80rem;
  *top: 1.3rem;
  display: grid;
  padding-top: 1.5rem;
  grid-template-columns: 3rem 3rem;
  gap: 74rem;
}

.leg {
  height: 1rem;
  width: 3rem;
  background-image: linear-gradient(
    to bottom,
    #2b2e33,
    #202124,
    #373b43,
    #4e5864,
    #434953
  );
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}
